@import 'styles/variable.module.scss';

.whiteContainer {
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white-color;
}

.transparentContainer {
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.logo {
  margin-left: 73px;
  font-family: 'Cartoon Marker';
  font-size: 16px;
  color: $black-950-color;
  cursor: pointer;
}
.hamburgerMenu {
  width: 80px;
  height: 80px;
  background-color: $blue-gray-400-color;
  &:hover {
    background-color: $blue-gray-300-color;
  }
  border-bottom: 1px solid $gray-500-color;
}

.menuItem {
  height: 80px;
  &:hover {
    background-color: $blue-gray-300-color;
  }
}

.menuText {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.7px;
  color: $gray-800-color;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 29px;
  padding-bottom: 27px;
}

.iconMenuItem {
  height: 80px;
}

.active {
  font-weight: 700;
  border-bottom: 3px solid $pink-100-color;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  height: 80px;
}

.dropdown:hover .dropbtn {
  background-color: $blue-gray-300-color;
}

.dropdownContent {
  display: none;
  position: absolute;
  left: 0px;
  right: 80px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  float: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  text-align: left;
  &:hover {
    background-color: $blue-gray-300-color;
  }
}

.dropdown:hover .dropdownContent {
  display: flex;
  flex-wrap: wrap;
}

// sub dropdown menu part
.subDropdown {
  float: left;
  overflow: hidden;
}

.subDropdown:hover .subDropbtn {
  background-color: $blue-gray-300-color;
}

.subDropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.subDropdownContent a {
  float: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  text-align: left;
  &:hover {
    background-color: $blue-gray-300-color;
  }
}

.subDropdown:hover .subDropdownContent {
  display: block;
  flex-wrap: wrap;
}
