@import 'styles/variable.module.scss';

.container {
  width: 100%;
  background-color: #f5f6fa;
  min-height: calc(100vh - 122px);
}
.highBoldLabel {
  color: #2a2c36;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
.mediumLabel {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 15px;
}
.divider {
  height: 1px;
  width: 100%;
  border: 1px solid #ebefff;
}
.AddressSection {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(108, 117, 125, 0.02);
}

.header {
  background-color: #818e8e;
  box-shadow: 0 32px 44px 0 rgba(131, 146, 167, 0.2);
  height: 130px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
}
.backString {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.26px;
}
.saveButton {
  border: 1px solid #979797;
  border-radius: 22px;
  background-color: #ffffff;
  box-shadow: 0 6px 10px 0 rgba(120, 144, 142, 0.15);
  padding: 11px 20px;
  width: fit-content;
}
.saveLabel {
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 13px;
  text-align: center;
}
.title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 8px;
}
.plusSection {
  background-color: #818e8e;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.mobileContainer {
  padding: 20px;
  background-color: hsl(228, 33%, 97%);
  min-height: calc(100vh - 230px);
  margin-bottom: 100px;
}
