@import 'styles/variable.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.creditSection {
  max-width: 480px;
}
.title {
  text-align: center;
  color: #7a908e;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 32px;
}
.orderNumber {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}
