@import 'styles/variable.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title {
  color: #7a908e;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 32px;
}
.detail {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  // text-align: center;
}
.description {
  color: #8a94a6;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}
.detailBank {
  border: 1px solid #7a908e;
  max-width: 540px;
}
