.previousButton {
  position: absolute;
  bottom: 6px;
  margin-left: 16px;
  z-index: 10;
}

.nextButton {
  position: absolute;
  bottom: 6px;
  margin-left: calc(100% - 36px);
  z-index: 10;
}

.slideImage {
  border-radius: 500px;
  object-fit: cover;
  object-position: center;
}

.slideImageRect {
  object-fit: cover;
  object-position: center;
}
