@import 'styles/variable.module.scss';

.container {
  padding-top: 75px;
  padding-bottom: 67px;
}

.title {
  font-family: DrukWideCyWeb-Bold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  color: $blue-gray-300-color;
}

.divider {
  width: 40px;
  height: 4px;
  background-color: $blue-gray-300-color;
  margin-top: 22px;
  margin-bottom: 37px;
}

.disciplineCard {
  max-height: 576px;
  overflow: hidden;
}

.box01 {
  width: 16.6666667%;
  height: 288px;
}

.box02 {
  width: 25%;
  height: 288px;
}

.box03 {
  width: 50%;
  height: 288px;
  animation-name: moveToLeft;
  animation-duration: 0.57s;
  animation-timing-function: cubic-bezier(0.185, 0.535, 0.8, 0.86);
}

@keyframes moveToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.cardTitle {
  padding: 117px 40px 100px 40px;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1px;
  color: $black-color;
  z-index: 100;
}

.cardArrow {
  bottom: 40px;
  left: 40px;
}
