@import 'styles/variable.module.scss';

.container {
  background: linear-gradient(135deg, #dfdbd5, #f0eeeb);
  @media (max-width: 1023px) {
    padding-top: 112px;
  }
  @media (min-width: 1024px) {
    padding-top: 220px;
  }
}

.title {
  display: inline-grid;
  font-family: DrukWideCyWeb-Bold;
  @media (max-width: 1023px) {
    font-size: 16px;
  }
  @media (min-width: 1024px) {
    font-size: 32px;
  }
  line-height: 100%;
  letter-spacing: 0px;
  background: linear-gradient(19.89deg, #d2aea1 0%, #5f5e5e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 8px;
}

.divider {
  @media (max-width: 1023px) {
    width: 16px;
    height: 2px;
    margin-bottom: 6px;
  }
  @media (min-width: 1024px) {
    width: 40px;
    height: 4px;
  }
  background-color: $pink-150-color;
}

.byText {
  font-family: Montserrat;
  @media (max-width: 1023px) {
    font-size: 8px;
  }
  @media (min-width: 1024px) {
    font-size: 12px;
  }
  font-weight: bold;
  letter-spacing: 0.23px;
  line-height: 15px;
  color: $pink-300-color;
}

.subTitle {
  font-family: Cartoon Marker;
  @media (max-width: 1023px) {
    font-size: 6px;
  }
  @media (min-width: 1024px) {
    font-size: 12px;
  }
  letter-spacing: 0.23px;
  line-height: 24px;
  color: #97827c;
}

.text {
  margin-top: 26px;
}

.slideImage {
  object-fit: cover;
  object-position: center;
}

.continueBrowsingArea {
  bottom: -42px;
}

.continueBrowsing {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: regular;
  letter-spacing: 0px;
  line-height: 29px;
  color: #756f6d;
}
