@import 'styles/variable.module.scss';

.container {
  background: linear-gradient(135deg, #dfdbd5, #f0eeeb);
  padding-top: 220px;
}

.title {
  font-family: DrukWideCyWeb-Bold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  background: -webkit-linear-gradient(19.89deg, #d2aea1 0%, #5f5e5e 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider {
  width: 40px;
  height: 4px;
  background-color: $pink-150-color;
}

.byText {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.23px;
  line-height: 15px;
  color: $pink-300-color;
}

.subTitle {
  font-family: Cartoon Marker;
  font-size: 12px;
  letter-spacing: 0.23px;
  line-height: 24px;
  color: #97827c;
}

.text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: regular;
  letter-spacing: 0.71px;
  line-height: 36px;
  color: $blue-gray-400-color;
  margin-top: 26px;
}
