@import 'styles/variable.module.scss';

.back {
  margin-left: 12px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.7px;
  color: $blue-gray-400-color;
}
