@import 'styles/variable.module.scss';

.title {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7px;
  color: $blue-gray-300-color;
}

.card {
  margin-top: 26px;
  width: 100%;
  height: 253px;
  border: 1px solid $blue-gray-400-color;
  padding: 74px 38px 74px 32px;
  display: block;
  justify-content: flex-start;
  cursor: pointer;
}

.cardTitle {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1.2px;
  color: $blue-gray-400-color;
  margin-right: 48px;
}

.cardDescription {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #acb1b2;
  margin-top: 24px;
}

.button {
  width: 100%;
  height: 48px;
  background-color: $blue-gray-400-color;
  padding-left: 32px;
  padding-right: 38px;
  margin-top: 7px;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonText {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.9px;
  color: $white-color;
}
