@import 'styles/variable.module.scss';

.outlineButton {
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 1px solid $gray-500-color;

  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.7px;
  color: $blue-gray-400-color;
}
