.previousButton {
  margin-left: calc(100% - 100px);
  margin-bottom: 19px;
}

.nextButton {
  position: absolute;
  top: 0px;
  margin-left: calc(100% - 20px);
}
.slideImage {
  object-fit: cover;
  object-position: center;
}
