@import 'styles/variable.module.scss';

.singleCard {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border: 1px solid #818e8e;
  max-width: 355px;
}
.cardImage {
  opacity: 0.6;
  position: relative;
}
.cardPayment {
  position: absolute;
  top: 40px;
  left: 35px;
  height: 33px;
  width: 131px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardPaymentType {
  color: #7e7d7d;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
}
.cardTitle {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 19px;
  padding: 23px 29px 0px 29px;
}
.cardDescripton {
  color: #acb1b2;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 0.75px;
  line-height: 19px;
  padding: 24px 29px 0px 29px;
}
.cardName {
  color: #acb1b2;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 19px;
  padding: 24px 29px 19px 29px;
}
