@import 'styles/variable.module.scss';

.readMore {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.62px;
  color: #e3d1d2;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px 0 0 0;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, $white-color);
  z-index: 1;
}

.expand {
  background-image: none;
}

.bgArea {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 28px;
  background-color: white;
  z-index: -1;
}
