@import 'styles/variable.module.scss';

.readMore {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.62px;
  color: #56181c;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px 0 0 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white-color);
  z-index: 1;
}
.m_readMore {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.62px;
  color: #56181c;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px 0 0 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white-color);
  z-index: 1;
}
.bgArea {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 28px;
  background-color: white;
  z-index: -1;
}
.p_readMore {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.62px;
  color: #56181c;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px 0 0 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white-color);
  z-index: 1;
}
.p_news_readMore {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.62px;
  color: #56181c;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px 0 0 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white-color);
  z-index: 1;
}
.m_p_readMore {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.62px;
  color: #56181c;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px 0 0 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #e4e5de);
  z-index: 1;
}
.m_news_readMore {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.62px;
  color: #56181c;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px 0 0 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white-color);
  z-index: 1;
}
.p_bgArea {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 28px;
  //background-color: #e4e5de;
  z-index: -1;
}
.n_readMore {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.62px;
  color: #56181c;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px 0 0 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white-color);
  z-index: 1;
}
.m_n_readMore {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.62px;
  color: #56181c;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 30px 0 0 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f2e9dd);
  z-index: 1;
}
.n_bgArea {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 28px;
  // background-color: #f2e9dd;
  z-index: -1;
}
.expand {
  background-image: none;
}
