@import 'styles/variable.module.scss';

.readMore {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.62px;
  color: #e3d1d2;
  cursor: pointer;
}
