@import 'styles/variable.module.scss';

.shoppingCart {
  box-sizing: border-box;
  // height: 652px;
  width: 390px;
  border: 1px solid #7d8f8e;
  background-color: #ffffff;
  padding: 60px 50px;
}
.summary {
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}
.summaryNumber {
  color: #ffffff;
  font-family: 'Avenir Next';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}
.operater {
  color: #ffffff;
  font-family: 'Avenir Next';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
}
.outlineButton {
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px dashed #d4d4d4;
  border-radius: 4px;
  &:hover {
    background-color: #e9ecec;
  }
}
.outlineLabel {
  color: #999999;
  font-family: Montserrat;
  font-size: 10px;
  letter-spacing: 0;
}
.badge {
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background-color: #7d8f8e;
}
.divider {
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1px solid #e4eaee;
}
.listContent {
  display: grid;
  justify-content: center;
  align-items: center;
}
.listDescription {
  color: #78908e;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}
.listPrice {
  color: #78908e;
  font-family: 'Avenir Next';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
.discount {
  color: #1b2125;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}
.inputDiscount {
  border: 1px solid gray;
  font-family: Montserrat;
  padding: 2px 8px;
  width: 100px;
  font-size: 14px;
  color: #78908e;
}

.backDescription {
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 24px;
}
.payDescription {
  background-color: #7d8f8e;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
