@import 'styles/variable.module.scss';

.container {
  width: 320px;
  height: 50px;
  border-radius: 10px;
  background-color: $white-color;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text {
  color: #999999;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  max-width: 250px;
  width: 100%;
}
