@import 'styles/variable.module.scss';

.container {
  padding-top: 80px;
  // padding-bottom: 70px;
  background: linear-gradient(90deg, #ffffff 68%, #eee2d2 32%);
  overflow: hidden;
}
.back {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.7px;
}
.topTitle {
  width: 239.29px;
  background: linear-gradient(50.32deg, rgba(235, 225, 209, 0.78) 0%, #e4d5c0 100%);
  font-size: 54px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1, 0.8);
  font-weight: bold;
}
.topDash {
  width: 42px;
  height: 7px;
  background-color: #eee3d3;
}
.topDescription {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 0.71px;
  line-height: 32px;
  text-align: justify;
}
.carouselSection {
  width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
