@import 'styles/variable.module.scss';

.container {
  padding-top: 80px;
  background: linear-gradient(90deg, #ffffff 68%, #eee2d2 32%);
  overflow: hidden;
  min-height: calc(100vh - 177px);
}
.m_container {
  padding-top: 80px;
  background: #f2e9dd;
  overflow: hidden;
}
.topTitle {
  font-family: DrukWideCyWeb-Bold;
  font-size: 35px;
  letter-spacing: 0px;
  display: block;
  background: linear-gradient(50.32deg, rgba(235, 225, 209, 0.78) 0%, #bda27b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-top: 40px;
  padding-bottom: 16px;
}
.m_topTitle {
  font-family: DrukWideCyWeb-Bold;
  font-size: 25px;
  letter-spacing: 0px;
  display: block;
  background: linear-gradient(50.32deg, rgba(235, 225, 209, 0.78) 0%, #bda27b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-top: 20px;
  padding-bottom: 8px;
}
.topDash {
  width: 42px;
  height: 7px;
  background-color: #eee3d3;
}
.topDescription {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 0.71px;
  line-height: 32px;
  text-align: justify;
}
.carouselSection {
  width: 500px;
  padding-top: 100px;
}
.m_carouselSection {
  width: 350px;
  padding-top: 20px;
}
.text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.71px;
  color: $blue-gray-400-color;
  text-align: justify;
  overflow: hidden;
  padding-bottom: 50px;
  max-height: 440px;
}
.expand {
  max-height: 100%;
}
