@import 'styles/variable.module.scss';

.container {
  padding-top: 80px;
  background: linear-gradient(90deg, #ffffff 68%, #d5d7ce 32%);
  overflow: hidden;
  min-height: calc(100vh - 177px);
}
.m_container {
  padding-top: 80px;
  background: #e4e5de;
  overflow: hidden;
  min-height: calc(100vh - 177px);
}
.topTitle {
  font-family: DrukWideCyWeb-Bold;
  font-size: 35px;
  letter-spacing: 0px;
  display: block;
  background: linear-gradient(28.07deg, rgba(211, 216, 189, 0.8) 0%, #c3c7b0 100%);
  background-image: -webkit-linear-gradient(28.07deg, rgba(211, 216, 189, 0.8) 0%, #c3c7b0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.m_topTitle {
  font-family: DrukWideCyWeb-Bold;
  font-size: 25px;
  letter-spacing: 0px;
  display: block;
  background: linear-gradient(24.79deg, #b7c1c1 0%, #818e8e 100%);
  background-image: -webkit-linear-gradient(24.79deg, #b7c1c1 0%, #818e8e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-top: 20px;
  padding-bottom: 8px;
}
.topDash {
  width: 42px;
  height: 7px;
  background-color: #d6d8ce;
}
.m_topDash {
  width: 16px;
  height: 6px;
  background-color: #d6d8ce;
}
.topDescription {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 0.71px;
  line-height: 32px;
  text-align: justify;
}
.circularMark {
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
}
.carouselSection {
  width: 500px;
  padding-top: 100px;
}
.m_carouselSection {
  width: 350px;
  padding-top: 20px;
}
.text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.71px;
  color: $blue-gray-400-color;
  text-align: justify;
  overflow: hidden;
  padding-bottom: 50px;
  max-height: 440px;
}
.expand {
  max-height: 100%;
}
