@import 'styles/variable.module.scss';

.container {
  padding-top: 80px;
  padding-bottom: 119px;
}
.m_container {
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 16px;
  padding-right: 16px;
}
.topTitle {
  font-family: DrukWideCyWeb-Bold;
  font-size: 35px;
  letter-spacing: 0px;
  background: linear-gradient(20.89deg, #e2d2e2 0%, #b7a1b7 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-grid;
  margin-top: 109px;
  margin-bottom: 10px;
}
.m_topTitle {
  font-family: DrukWideCyWeb-Bold;
  font-size: 25px;
  letter-spacing: 0px;
  background: linear-gradient(20.89deg, #e2d2e2 0%, #b7a1b7 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-grid;
  margin-top: 109px;
  margin-bottom: 5px;
}
.topDash {
  width: 42px;
  height: 7px;
  background-color: #decede;
}
.topDescription {
  color: $blue-gray-400-color;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.62px;
  text-align: justify;
}
.circularMark {
  padding-top: 91px;
  display: flex;
  justify-content: flex-end;
}
.m_circularMark {
  padding-top: 32px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: -30px;
}
.serverText {
  position: absolute;
  color: #000000;
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 26px;
  top: 117px;
  left: 48px;
}
.m_serverText {
  position: absolute;
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 1px;
  top: 50px;
  left: 23px;
}
.serverArrow {
  position: absolute;
  top: 217px;
  left: 45px;
}
.m_serverArrow {
  position: absolute;
  top: 92px;
  left: 23px;
}
.boxToRightActive {
  flex: 1 1 25%;
  animation-name: moveToRight;
  animation-duration: 0.57s;
  animation-timing-function: cubic-bezier(0.185, 0.535, 0.8, 0.86);
}
.boxToLeftActive {
  flex: 1 1 25%;
  animation-name: moveToLeft;
  animation-duration: 0.57s;
  animation-timing-function: cubic-bezier(0.185, 0.535, 0.8, 0.86);
}
.boxDeactive {
  overflow: hidden;
  flex: 1;
  z-index: 1;
}
@keyframes moveToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
