@import 'styles/variable.module.scss';

.container {
  padding-top: 80px;
  padding-bottom: 70px;
  background: linear-gradient(319.36deg, #e9e7e9 0%, #cecbce 100%);
}
.back {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.7px;
  // line-height: 106px;
}
.topTitle {
  background: linear-gradient(24.79deg, #b7c1c1 0%, #818e8e 100%);
  font-size: 54px;
  width: 382.97px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1, 0.8);
  font-weight: bold;
  // padding-top: 109px;
}
.topDash {
  width: 42px;
  height: 7px;
  background-color: #decede;
}
.topDescription {
  margin-top: 52px;
  margin-bottom: 20px;
  color: $blue-gray-400-color;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.62px;
  line-height: 28px;
  text-align: justify;
}
.circularMark {
  padding-top: 91px;
  display: flex;
  justify-content: flex-end;
}
.serverText {
  position: absolute;
  color: #000000;
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 26px;
  top: 117px;
  left: 48px;
}
.serverArrow {
  position: absolute;
  top: 217px;
  left: 45px;
}
.scontainer {
  display: flex;
  width: 100%;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  height: 288px;
}
.box {
  flex: 1;
  // overflow: hidden;
  transition: 0.8s;
  position: relative;
}
.box > img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
  opacity: 0.6;
}

.box:hover {
  flex: 1 1 25%;
}
.box:hover > img {
  width: 100%;
  height: 100%;
}
