@import 'styles/variable.module.scss';

.workWithUsButton {
  // padding: 20px 50px 20px 90px;
  height: 98px;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 26px;
  box-sizing: border-box;
  border: 1px solid #818e8e;
  border-bottom: none;
  color: #818e8e;
  &:hover {
    background-color: #818e8e3d;
  }
}
.label {
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 26px;
}
