@import 'styles/variable.module.scss';

.container {
  width: 100%;
  background-color: #f5f6fa;
  min-height: 100vh;
}
.m_container {
  background-color: hsl(228, 33%, 97%);
  min-height: calc(100vh - 130px);
}
.highBoldLabel {
  color: #2a2c36;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
.calendar {
  font-size: 13px;
}
// table part
.tableHead {
  border: 2px solid #ededed;
  background-color: #ffffff;
  height: 58px;
  min-height: 58px;
}
.tableHeadTitle {
  padding: 15px 30px;
  color: #222222;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 24px;
}
.m_tableHeadTitle {
  padding: 8px 8px;
  color: #222222;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 24px;
}
