@import 'styles/variable.module.scss';

.defaultAvatar {
  border-radius: 100px;
  background-color: $gray-100-color;
}
.edit {
  width: 24px;
  height: 24px;
  background-color: $blue-gray-400-color;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    background-color: $blue-gray-300-color;
  }
}
.avatarSection {
  width: 100px;
  height: 100px;
}
