@import 'styles/variable.module.scss';

.creditTitle {
  color: #1b2125;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
}
.inputRadio {
  -webkit-appearance: none;
  min-width: 19px;
  min-height: 19px;
  width: 19px;
  height: 19px;
  border: 2px solid #72918e;
  border-radius: 50%;
  outline: none;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 50%;
    height: 50%;
    margin: 26% 23%;
    border-radius: 50%;
    position: absolute;
    // top: 4px;
    // left: 4px;
  }
  &:checked:before {
    background: #72918e;
  }
  &:hover {
    cursor: pointer;
  }
}
.billAddress {
  color: #79908e;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
