@import 'styles/variable.module.scss';

.creditTitle {
  color: #1b2125;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
}
.inputRadio {
  -webkit-appearance: none;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  border: 2px solid #72918e;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }
  &:checked:before {
    background: #72918e;
  }
  &:hover {
    cursor: pointer;
  }
}
.billAddress {
  color: #79908e;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
