@import 'styles/variable.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f6fa;
  height: 100vh;
}
.m_container {
  min-height: calc(100vh - 230px);
}
.m_dashTitle {
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}

.noAcademyArea {
  height: calc(100vh - 48px - 70px - 50px);
  min-height: 430px;
}
.noAcademyContent {
  height: 430px;
}
.actualmentText {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.goAcademyButton {
  height: 40px;
  border-radius: 6px;
  padding: 12px 30px;
  background-color: #818e8e;

  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  &:hover {
    opacity: 0.6;
  }
}

.preparingTitle {
  color: #7a908e;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 32px;
}

.preparingText {
  color: #7a908e;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.26px;
  line-height: 19px;
  text-align: center;
}

.m_preparingTitle {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}

.m_preparingText {
  color: #828f8f;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}
