@import 'styles/variable.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-height: calc(100vh - 177px);
}
.m_container {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
  min-height: calc(100vh - 177px);
}
.homePath {
  color: #757575;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 28px;
}
.categoryPath {
  color: #212121;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 28px;
}
.filterContainer {
  background-color: #ffffff;
  border: 1px solid #7d8f8e;
  width: 300px;
  padding: 5px 20px;
}
.filter {
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
}
.moreButton {
  border: 2px solid #7d8f8e;
  color: #7d8f8e;
  padding: 6px 50px;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 28px;
  font-weight: bold;
  width: fit-content;
}
