@import 'styles/variable.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-height: calc(100vh - 177px);
}
.m_container {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
  min-height: calc(100vh - 177px);
}
.productRef {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.productName {
  color: #78908e;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.orgPrice {
  color: #757575;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
}
.disPrice {
  color: #fe5335;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
}
.productCompanyName {
  color: #808080;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.productDescription {
  color: #757575;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
