@import 'styles/variable.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-height: calc(100vh - 177px);
}
.contentContainer {
  width: 100%;
  border: solid 1px #71918e;
  background: #ffffff;
  margin-top: 16px;
  padding: 20px 16px;
}
.productRef {
  color: #bdb8b8;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.16px;
}
.productName {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.224px;
}
.productDescription {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  letter-spacing: 0.53333336px;
}
.bottomArea {
  background-color: #78908e;
  padding-left: 32px;
  padding-right: 32px;
}
.orgPrice {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 28.421053px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 1.8990413px;
}
.disPrice {
  color: #fe5335;
  font-family: Montserrat;
  font-size: 28.421053px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 1.8990413px;
}
.button {
  width: 117px;
  height: 36px;
  border: solid 1px #ffffff;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.9354537px;
}
