@import 'styles/variable.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 177px);
}
.subContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.m_container {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
  min-height: calc(100vh - 177px);
}
.header {
  border: 1px solid #7d8f8e;
  background-color: #7d8f8e;
}
.headerTitle {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
}
.mainImageTitle {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  max-width: 355px;
}
.select {
  width: 300px;
  position: absolute;
  bottom: -15px;
  left: calc(50% - 150px);
  background-color: #7d8f8e;
  padding: 12px 4px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 30px;
  border: none;
  outline: none;
}
.newLabel {
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 52px;
}
.brandTitle {
  color: #78908e;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 52px;
  text-align: center;
}
