@import 'styles/variable.module.scss';

.top {
  color: #a4a2a2;
  font-family: Montserrat;
  font-size: 10px;
  letter-spacing: -0.24px;
}
.low {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
}
