@import 'styles/variable.module.scss';

.container {
  padding: 11px 26px;
  border: 1px solid #bd5b54;
  border-radius: 32.5px;
  background-color: $white-color;
  // cursor: pointer;
}

.title {
  color: #bd5b54;
  font-family: Montserrat Light;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
}

.description {
  color: #bd5b54;
  font-family: Montserrat Light;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
}
