@import 'styles/variable.module.scss';

.logo {
  // margin-left: 73px;
  font-family: 'Cartoon Marker';
  font-size: 16px;
  color: #2a2c36;
  cursor: pointer;
  opacity: 0.52;
}
.logoSmall {
  font-family: 'Cartoon Marker';
  font-size: 9px;
  color: #2a2c36;
  cursor: pointer;
  opacity: 0.52;
}
.itemLabel {
  color: #2a2c37;
  font-family: Montserrat;
  font-size: 13.5px;
  letter-spacing: 0;
}
.activeLabel {
  color: #2a2c37;
  font-family: Montserrat;
  font-size: 13.5px;
  letter-spacing: 0;
  font-weight: bold;
}
.logoutLabel {
  color: #ed5252;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 19px;
}
.hideSection {
  max-width: 100px;
  min-width: 100px;
}
.resize:hover {
  filter: brightness(1) invert(0.07);
  transition: 0.4s;
  cursor: pointer;
}
