@import 'styles/variable.module.scss';

.title {
  font-family: 'DrukWideCyWeb-Bold';
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0px;
  color: $blue-gray-400-color;
}

.divider {
  @media (max-width: 1023px) {
    width: 16px;
    height: 7px;
    margin-top: 14px;
  }
  @media (min-width: 1024px) {
    width: 42px;
    height: 8px;
    margin-top: 24px;
  }
  background-color: $pink-100-color;
}

.text {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.71px;
  color: $blue-gray-400-color;
}

.carouselArea {
  margin-top: -44px;
}

.previousButton {
  margin-left: calc(100% - 100px);
  margin-bottom: 66px;
}

.nextButton {
  position: absolute;
  top: 0px;
  margin-left: calc(100% - 20px);
  margin-bottom: 66px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}
.emptyImageArea {
  width: 100%;
  height: 100%;
  max-width: 364px;
  max-height: 364px;
  background-color: #eeeeee;
}
.cardContent {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  top: 0; /* Adjust this value to move the positioned div up and down */
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(200, 200, 200, 0.9);
  width: 100%; /* Set the width of the positioned div */
  height: 100%;
  @media (max-width: 1023px) {
    padding: 10px 10px 10px 10px;
  }
  @media (min-width: 1024px) {
    padding: 99px 40px 40px 40px;
  }
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
}

.cardText {
  color: $gray-800-color;
  font-family: 'Montserrat';
  @media (max-width: 1023px) {
    font-size: 10px;
    line-height: 12px;
  }
  @media (min-width: 1024px) {
    font-size: 14px;
    line-height: 17px;
  }
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 0px;
}

.cardName {
  color: #303030;
  font-family: 'Montserrat';
  @media (max-width: 1023px) {
    font-size: 14px;
    line-height: 17px;
  }
  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 31px;
  }
  font-weight: 700;
  letter-spacing: -0.58px;
}

.cardDescription {
  color: $gray-800-color;
  font-family: 'Montserrat';
  @media (max-width: 1023px) {
    font-size: 10px;
    line-height: 16px;
  }
  @media (min-width: 1024px) {
    font-size: 14px;
    line-height: 25px;
  }
  font-weight: 200;
  letter-spacing: 0px;
}

.name {
  flex: 1;
  font-family: 'Montserrat';
  font-weight: 700;
  letter-spacing: 0.9px;
  color: $blue-gray-400-color;
  display: block;
  text-align: start;
  @media (max-width: 1023px) {
    font-size: 12px;
    line-height: 13px;
    margin-left: 5px;
    margin-top: 5px;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 22px;
    margin-left: 25px;
    margin-top: 20px;
  }
}

.name .specialty {
  color: $gray-100-color;
  line-height: 16px;
  margin-bottom: 60px;
}
