@import 'styles/variable.module.scss';

.topToBottom {
  animation: topToBottom ease 2s;
  position: absolute;
  top: 50%;
  left: 67px;
  color: $white-color;
  font-family: DrukWideCyWeb-Bold;
  font-size: 90px;
  line-height: 50px;
  letter-spacing: 0px;
  text-shadow: 4px 7px 9px rgba(105, 102, 102, 0.5);
}
@keyframes topToBottom {
  0% {
    left: 67px;
    top: 30%;
  }
  100% {
    left: 67px;
    top: 50%;
  }
}

.bottomToTop {
  animation: bottomToTop ease 2s;
  position: absolute;
  top: calc(50% - 80px);
  left: 67px;
  color: $gray-800-color;
  font-style: italic;
  font-family: Roboto;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0px;
}
@keyframes bottomToTop {
  0% {
    left: 67px;
    top: 60%;
  }
  100% {
    left: 67px;
    top: calc(50% - 80px);
  }
}
