@import 'styles/variable.module.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - 177px);
  padding-bottom: 50px;
}

.title {
  margin-top: 138px;
  margin-bottom: 50px;
  color: #7a908e;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 32px;
}

.textOne {
  margin-top: 50px;
  color: #818e8e;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 34px;
  text-align: center;
}
.textTwo {
  margin-top: 20px;
  color: #818e8e;
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 34px;
  text-align: center;
}
