@import 'styles/variable.module.scss';

.container {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  margin-top: 158px;
  margin-bottom: 70px;
  color: #7a908e;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 32px;
}

.text {
  max-width: 470px;
  margin-top: 70px;
  margin-bottom: 158px;
  color: #818e8e;
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 34px;
  text-align: center;
}
