@import 'styles/variable.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-height: calc(100vh - 177px);
}
.m_container {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
  min-height: calc(100vh - 177px);
}
.topTitle {
  font-size: 54px;
  color: #818e8e;
  font-family: 'DrukWideCyWeb-Bold';
  letter-spacing: 0;
  line-height: 44px;
  @media (max-width: 576px) {
    font-size: 18px;
  }
  @media (min-width: 577px) {
    font-size: 36px;
    font-weight: bold;
  }
}
.topDash {
  background-color: #818e8e;
  @media (max-width: 576px) {
    width: 15px;
    height: 4px;
  }
  @media (min-width: 577px) {
    width: 42px;
    height: 7px;
  }
}
.shortText {
  color: #99a7a9;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 28px;
  text-align: justify;
}
.contentContainer {
  border: 1px solid #818e8e;
  background-color: rgba(0, 0, 0, 0);
}
.withTitle {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.25px;
  line-height: 30px;
}
.m_withTitle {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.22px;
  line-height: 18px;
}
.withContent {
  color: #acb1b2;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 29px;
}
.m_withContent {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 0.53px;
  line-height: 26px;
  text-align: justify;
}
.register {
  background-color: #818e8e;
  padding: 8px 42px;
  width: fit-content;
  margin: auto;
}
.m_registerText {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 0.53px;
  line-height: 26px;
}
.backToMain {
  color: #bcbcbc;
  font-family: Montserrat;
  font-size: 10px;
  letter-spacing: -0.24px;
  line-height: 22px;
  text-align: center;
}
