@import 'styles/variable.module.scss';

.container {
  padding-top: 80px;
  padding-bottom: 70px;
}

.title {
  font-family: 'DrukWideCyWeb-Bold';
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0px;
  color: $blue-gray-400-color;
  margin-top: 100px;
}

.divider {
  width: 40px;
  height: 4px;
  background-color: $blue-gray-400-color;
  margin-top: 16px;
  margin-bottom: 28px;
}

.text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.7px;
  color: $gray-500-color;
  display: flex;
  justify-content: space-between;
}

.label {
  color: #72918e;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.26px;
  line-height: 18px;
  margin-bottom: 13.5px;
}

.input {
  border-color: #72918e;
  color: #011632;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 0.23px;
  line-height: 15px;
}

.button {
  background-color: #72918e;
  color: $white-color;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}
