@import 'styles/variable.module.scss';

// table part
.viewArea {
  width: 120px;
}
.mobileViewArea {
  width: 36px;
}
.dayArea {
  width: 160px;
}
.mobileDayArea {
  width: 60px;
}
.tableHead {
  border: 2px solid #ededed;
  background-color: #ffffff;
  height: 58px;
  min-height: 58px;
}
.mobileTableHead {
  background-color: #ffffff;
  height: 36px;
}
.tableHeadTitle {
  padding: 15px 30px;
  color: #222222;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 24px;
}
.mobileTableHeadTitle {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.5px;
}

// table item part
.tableContentHeadArea {
  width: 100%;
  border: 1px solid #ededed;
}
.contentTitle {
  padding: 9px 30px;
  color: #222222;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 1.4px;
  line-height: 36px;
}
.mobileContentTitle {
  padding: 21px 12px;
  color: #222222;
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.9px;
}
.contentFecha {
  padding: 9px 30px;
  color: #222222;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 1.4px;
  line-height: 36px;
  border: 1px solid #ededed;
  border-bottom: none;
  border-top: none;
}
.mobileContentFecha {
  padding: 21px 12px;
  color: #222222;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
}
.description {
  color: #999999;
  font-family: Montserrat;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 18px;
}
.onlineText {
  color: #da4242;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.4px;
}
.hourText {
  color: #c0c1c5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.4px;
}
