@import 'styles/variable.module.scss';

.container {
  width: 100%;
  background-color: #f5f6fa;
  min-height: 100vh;
}
.mobileContainer {
  background-color: #f5f6fa;
  min-height: calc(100vh - 177px);
}
.highBoldLabel {
  color: #2a2c36;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
.mediumLabel {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 15px;
}
.divider {
  height: 1px;
  width: 100%;
  border: 1px solid #c4c4c4;
}
.calendar {
  font-size: 13px;
}
.roomContainer {
  border-radius: 6px;
  background-color: #ffffff;
}
.roomTitle {
  color: #333333;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}
