@import 'styles/variable.module.scss';

.label {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}
.description {
  color: #999999;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
.product {
  margin-left: '8px';
  border-radius: '10px';
  object-fit: 'cover';
  object-position: 'center';
  opacity: 0.6;
}
