@import 'styles/variable.module.scss';

.container {
  width: 125px;
  height: 101px;
  opacity: 0.77;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.download {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
