@import 'styles/variable.module.scss';

.card {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  @media (max-width: 1023px) {
    width: 100%;
    background-color: #f3f3f3;
    padding-left: 16px;
    padding-right: 32px;
  }
  @media (min-width: 1024px) {
    width: 672px;
    background-color: #7d8f8e;
    padding-left: 105px;
    padding-right: 35px;
  }
  z-index: 10;
  padding-top: 65px;
  padding-bottom: 81px;
}

.closeButton {
  position: absolute;
  cursor: pointer;
  @media (max-width: 1023px) {
    top: 50px;
    right: 16px;
  }
  @media (min-width: 1024px) {
    top: 55px;
    right: 61.5px;
  }
}

.underline {
  position: absolute;
  background-color: #ffffff;
  left: 0px;
  @media (max-width: 1023px) {
    top: 0;
    width: 100%;
    height: 109px;
    z-index: -10;
  }
  @media (min-width: 1024px) {
    top: 107px;
    width: 390px;
    height: 2px;
  }
}

.title {
  font-family: Montserrat;
  @media (max-width: 1023px) {
    color: #000000;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    margin-bottom: 43px;
  }
  @media (min-width: 1024px) {
    color: #ffffff;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0;
    margin-bottom: 75px;
  }
}

.scrollbarArea {
  @media (max-width: 1023px) {
    height: calc(100vh - 340px);
  }
  @media (min-width: 1024px) {
    height: calc(100vh - 400px);
  }
}

.subTitle {
  font-family: Montserrat;
  @media (max-width: 1023px) {
    color: #070707;
    font-size: 12px;
    line-height: 18px;
  }
  @media (min-width: 1024px) {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
  }
  font-weight: bold;
  letter-spacing: 0;
}

.text {
  @media (max-width: 1023px) {
    color: #78908e;
  }
  @media (min-width: 1024px) {
    color: #ffffff;
  }
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.26px;
  line-height: 18px;
}

.inputArea {
  box-sizing: border-box;
  height: 41px;
  width: 251px;
  border: 1px solid #818e8e;
  border-radius: 4px;
  background-color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
}

.outlineButton {
  box-sizing: border-box;
  height: 54px;
  width: 230px;
  @media (max-width: 1023px) {
    border: 2px solid #818e8e;
    color: #818e8e;
    border-radius: 34px;
  }
  @media (min-width: 1024px) {
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 3px;
  }
  box-shadow: 0 2px 7px 0 rgba(120, 137, 149, 0.25);

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  &:hover {
    background-color: #e9ecec;
    color: #7d8f8e;
  }
}
