@import 'styles/variable.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f3f3e9;
  height: 100vh;
}
.topTitle {
  font-size: 54px;
  color: #818e8e;
  font-family: 'DrukWideCyWeb-Bold';
  letter-spacing: 0;
  line-height: 44px;
  @media (max-width: 576px) {
    font-size: 18px;
  }
  @media (min-width: 577px) {
    font-size: 36px;
    font-weight: bold;
  }
}
.topDash {
  background-color: #818e8e;
  @media (max-width: 576px) {
    width: 15px;
    height: 4px;
  }
  @media (min-width: 577px) {
    width: 42px;
    height: 7px;
  }
}
.description {
  color: #818e8e;
  font-family: Montserrat;
  letter-spacing: 0.7px;
  line-height: 22px;
  top: calc(50% + 167px);
  max-width: 656px;

  @media (max-width: 576px) {
    font-size: 10px;
    margin: 10px 44px;
  }
  @media (min-width: 577px) {
    font-size: 14px;
    text-align: center;
  }
}
