@import 'styles/variable.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f3f3e9;
  min-height: calc(100vh - 150px);
}
.m_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
  min-height: calc(100vh - 177px);
}
.topTitle {
  font-size: 54px;
  color: #818e8e;
  font-family: 'DrukWideCyWeb-Bold';
  letter-spacing: 0;
  line-height: 44px;
  @media (max-width: 576px) {
    font-size: 18px;
  }
  @media (min-width: 577px) {
    font-size: 36px;
    font-weight: bold;
  }
}
.topDash {
  background-color: #818e8e;
  @media (max-width: 576px) {
    width: 15px;
    height: 4px;
  }
  @media (min-width: 577px) {
    width: 42px;
    height: 7px;
  }
}
.description {
  color: #818e8e;
  font-family: Montserrat;
  letter-spacing: 0.7px;
  line-height: 22px;
  top: calc(50% + 167px);
  max-width: 656px;

  @media (max-width: 576px) {
    font-size: 10px;
    margin: 10px 44px;
  }
  @media (min-width: 577px) {
    font-size: 14px;
    text-align: center;
  }
}
.newTopTitle {
  font-family: DrukWideCyWeb-Bold;
  font-size: 35px;
  letter-spacing: 0px;
  display: block;
  background: linear-gradient(50.32deg, rgba(217, 218, 186, 0.78) 0%, #bebea3 100%);
  background-image: -webkit-linear-gradient(50.32deg, rgba(217, 218, 186, 0.78) 0%, #bebea3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: fit-content;
}
.m_newTopTitle {
  font-family: DrukWideCyWeb-Bold;
  font-size: 23px;
  letter-spacing: 0px;
  display: block;
  background: linear-gradient(50.32deg, rgba(217, 218, 186, 0.78) 0%, #bebea3 100%);
  background-image: -webkit-linear-gradient(50.32deg, rgba(217, 218, 186, 0.78) 0%, #bebea3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: fit-content;
}
.newTopDash {
  height: 7px;
  width: 42px;
  background-color: #d1d4b3;
}
.m_newTopDash {
  height: 6px;
  width: 16px;
  background-color: #d1d4b3;
}
.categoryTitle {
  color: #3a3939;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.43px;
  line-height: 22px;
}
.m_categoryTitle {
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.34px;
  line-height: 22px;
}
.seeAll {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  line-height: 22px;
}
.moreContainer {
  border: 1px solid #818e8e;
  border-radius: 9px;
  padding: 3px 15px;
}
.m_seeAll {
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 9px;
}
