@import 'styles/variable.module.scss';

.tableContentHeadArea {
  width: 100%;
  // border: 1px solid #ededed;
  // background-color: rgba(51, 51, 51, 0.03);
}
.contentTitle {
  color: #222222;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 1.4px;
  line-height: 20px;
}
.description {
  color: #999999;
  font-family: Montserrat;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 18px;
}
