@import 'styles/variable.module.scss';

.footerArea {
  background-color: $gray-600-color;
  @media (max-width: 1023px) {
    padding-top: 20px;
  }
  @media (min-width: 1024px) {
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

.workWithUsButton {
  padding: 8px 32px 6px 32px;
  font-family: Montserrat;
  font-size: 10px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: $white-color;
  background-color: transparent;
  border: 1px solid $white-color;
  &:hover {
    background-color: $blue-gray-300-color;
  }
}

.logo {
  font-family: 'Cartoon Marker';
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.22px;
  color: $white-color;
  cursor: pointer;
}

.text {
  color: $white-color;
  font-family: Montserrat;
  line-height: 16px;
  letter-spacing: 0.26px;
  display: flex;
  @media (max-width: 576px) {
    font-size: 8px;
  }
  @media (min-width: 577px) {
    font-size: 12px;
  }
}
