@import 'styles/variable.module.scss';

.shoppingCart {
  box-sizing: border-box;
  min-width: 390px;
  background-color: #e9ecec;
  padding: 69px 50px;
  height: 100%;
}
.summary {
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}
.summaryNumber {
  color: #ffffff;
  font-family: 'Avenir Next';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}
.badge {
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background-color: #7d8f8e;
}
.divider {
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.listContent {
  display: grid;
  justify-content: center;
  align-items: center;
}
.listDescription {
  color: #78908e;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}
.listPrice {
  color: #78908e;
  font-family: 'Avenir Next';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
.discount {
  color: #1b2125;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}
.inputDiscount {
  border: 1px solid gray;
  font-family: Montserrat;
  padding: 2px 8px;
  // width: 100px;
  font-size: 14px;
  color: #78908e;
  background-color: #e9ecec;
}
.billAddress {
  color: #788995;
  font-family: 'Avenir Next';
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}
