.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(309.58deg, rgba(219, 203, 208, 0.3) 0%, #dbcbd0 100%);
  margin-top: 80px;
}
.topSection {
  padding-top: 100px;
}
.topTitle {
  font-family: DrukWideCyWeb-Bold;
  font-size: 35px;
  letter-spacing: 0px;
  background: linear-gradient(59.79deg, #c6a8b1 0%, #74676b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-grid;
  padding-top: 20px;
}
.topDash {
  width: 42px;
  height: 7px;
  background-color: #bda1a9;
  margin-top: 22px;
}
.topDescription {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.62px;
  line-height: 28px;
  text-align: justify;
  margin-top: 48px;
  margin-bottom: 20px;
}
.topRightSection {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.topImage {
  opacity: 0.73;
}
.topRightLetImage {
  position: absolute;
  right: 152px;
  top: -25px;
}
.middleSection {
  padding-top: 100px;
}
.fullPass {
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.43px;
  line-height: 22px;
}
.buttonGroup {
  display: flex;
  margin-top: 55px;
}
.cardSection {
  padding-top: 53px;
}
.cardAlign {
  display: flex;
  justify-content: center;
}
.divider {
  height: 1px;
  background-color: #e0ced3;
  display: flex;
  justify-content: center;
  margin: 85px 76px 0px 76px;
}
.faqString {
  color: #ab8e96;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.58px;
  line-height: 22px;
  padding-bottom: 21px;
  padding-top: 80px;
}
