@import 'styles/variable.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tabsList {
  color: #d3d9dc;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #e4eaee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs {
  ul {
    li {
      padding: 27px 34px;
      border: none;
      &:focus {
        box-shadow: none;
        border: unset;
        border-bottom: 1px solid #68928e !important;
        bottom: -2px;
      }
    }
  }
}
.selectedTab {
  bottom: -2px;
  color: #78908e;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #68928e !important;
}
