@import 'styles/variable.module.scss';

.header {
  background-color: #818e8e;
  box-shadow: 0 32px 44px 0 rgba(131, 146, 167, 0.2);
  height: 130px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}
.backString {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.26px;
}
.saveButton {
  border: 1px solid #979797;
  border-radius: 22px;
  background-color: #ffffff;
  box-shadow: 0 6px 10px 0 rgba(120, 144, 142, 0.15);
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  padding: 13px 25px;
  width: fit-content;
}
.title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 30px;
}
.container {
  background-color: #f5f6fa;
  min-height: calc(100vh - 126px);
}
