@import 'styles/variable.module.scss';

.container {
  padding: 20px;
  background-color: #f5f6fa;
  min-height: 100vh;
}
.divider {
  box-sizing: border-box;
  height: 1px;
  width: 50%;
  border: 1px solid #e4eaee;
}
.shippingData {
  color: #d0dae9;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.26px;
  line-height: 18px;
  width: 170px;
}
