.borderCircle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: solid 1px #7d8f8e;
}
.mobileTitle {
  color: #224229;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
}
