.select {
  width: 300px;
  position: absolute;
  bottom: -15px;
  left: calc(50% - 150px);
  padding: 12px 4px;
  background-color: #ffffff;
  color: #7d8f8e;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 30px;
  border: none;
  outline: none;
  &:hover {
    background-color: #7d8f8e;
    color: #ffffff;
  }
}
