@import 'styles/variable.module.scss';

.orgPrice {
  color: #757575;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
}
.disPrice {
  color: #fe5335;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
}
.newImage {
  border: 1px solid #979797;
}
.newName {
  color: #78908e;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
