$white-color: #ffffff;
$black-color: #000000;

$black-950-color: #0a0909;

$gray-100-color: #c9cacd;
$gray-450-color: #abbbbf;
$gray-500-color: #979797;
$gray-600-color: #7e8f8e;
$gray-800-color: #484848;
$gray-850-color: #030303;

$blue-gray-300-color: #8fa1a5;
$blue-gray-400-color: #818e8e;
$blue-gray-450-color: #637a76;

$pink-100-color: #e3bbaa;
$pink-150-color: #cfa590;
$pink-300-color: #987e71;
