// @import 'styles/variable.module.scss';

.container {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 1140px;
  }
  @media screen and (max-width: 992px) {
    max-width: 960px;
  }
  @media screen and (max-width: 768px) {
    max-width: 720px;
  }
  @media screen and (max-width: 576px) {
    max-width: 540px;
  }
  @media screen and (max-width: 576px) {
    max-width: 100%;
  }
}
