@import 'styles/variable.module.scss';

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 1140px;
  }
  @media screen and (max-width: 992px) {
    max-width: 960px;
  }
  @media screen and (max-width: 768px) {
    max-width: 720px;
  }
  @media screen and (max-width: 576px) {
    max-width: 540px;
  }
  @media screen and (max-width: 576px) {
    max-width: 100%;
  }
}

// dashboard part
.dashContainer {
  padding: 48px 32px 70px 40px;
  background-color: #f5f6fa;
  min-height: 100vh;
}

.dashTitle {
  color: #2a2c36;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}

.textocurso {
  padding: 3% 1%;
}
.textocurso p {
  font-size: 14px;
  font-weight: 400;
  color: #2a2c36;
  font-family: Montserrat;
  letter-spacing: 0;
  line-height: 32px;
}

.dashDate {
  color: $blue-gray-400-color;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 15px;
}

.loadingArea {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0px;
  left: 0px;
  z-index: 9999;
}

.loading {
  position: relative;
  left: calc(50% - 32px);
  top: calc(50vh - 32px);
}

.tinyMCEClass {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #818e8e;
  line-height: 28px;
  padding-bottom: 10px;

  :global(.tinymce-class) {
    ol {
      list-style-type: decimal;
      padding-left: 20px !important;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #818e8e;
      line-height: 28px;
      padding-bottom: 5px;
    }
    ul {
      list-style-type: disc;
      padding-left: 20px !important;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #818e8e;
      line-height: 28px;
      padding-bottom: 15px;
      font-weight: 400;
    }
    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #818e8e;
      line-height: 28px;
      padding-bottom: 10px;
      span {
        font-weight: 600;
      }
      a {
        font-weight: 600;
        color: #bda27b;
      }
    }
    ul {
      li {
        span {
          font-weight: 600;
        }
      }
    }
  }
}

.appTwilioChatButton {
  background: #333e5a;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
}
.appTwilioChatButton:hover {
  filter: brightness(150%);
}
