@import 'styles/variable.module.scss';

.container {
  width: 100%;
  background-color: #f5f6fa;
}
.mobileContainer {
  width: 100%;
  background-color: #f5f6fa;
  min-height: calc(100vh - 237px);
  padding: 20px;
}
.modalTitle {
  color: #7e8f8e;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 22px;
}
.profileName {
  color: #011632;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.53px;
  line-height: 29px;
}
.profileCounry {
  color: #c4c4c4;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.26px;
  line-height: 18px;
}
.modalDescription {
  color: #c4c4c4;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.26px;
  line-height: 24px;
}
.modalButton {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  padding: 10px 16px;
  color: #999999;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}
.highBoldLabel {
  color: #2a2c36;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
.mediumLabel {
  color: #818e8e;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 15px;
}
.divider {
  height: 1px;
  width: 100%;
  border: 1px solid #c4c4c4;
}
.activeTab {
  cursor: pointer;
  color: #222222;
  font-family: Montserrat;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19px;
  font-weight: bold;
  display: inline-block;
  border-bottom: 2px solid #222222;
  padding-bottom: 6px;
}
.deactiveTab {
  cursor: pointer;
  color: #222222;
  font-family: Montserrat;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19px;
  // display: inline-block;
  // border-bottom: 2px solid #222222;
  // padding-bottom: 6px;
}
