@import 'styles/variable.module.scss';

.container {
  width: 100%;
  background-color: #f5f6fa;
}
.title {
  color: #2a2c36;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
.reactPlayer {
  video {
    border-radius: 10px;
  }
}
.material {
  color: #333333;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
.label {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}
.count {
  color: #999999;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}

.imageArea {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  overflow: hidden;
}
